Quiz 1

คำนวณหาเศษเหลือจากการหาร 2345 ด้วย 13

In [6]:
2345 % 13

5

หาคำตอบจากการหาร 1567 ด้วย 17 โดยไม่เอาเศษ

In [7]:
1567 // 17

92

FirstName กับ Firstname เป็นตัวแปรเดียวกันหรือไม่ <br>
Ans: ไม่เป็น

In [8]:
'FirstName' == 'Firstname'

False

13Friday เป็นตัวแปรที่ถูกต้องหรือไม่ <br>
Ans: ไม่ถูกต้อง ตัวแปรต้องไม่ขึ้นต้นด้วยตัวเลขหรืออักขระพิเศษ

In [9]:
13Friday = 1

SyntaxError: invalid syntax (<ipython-input-9-6b32abf85c76>, line 1)

print ผลลัพธ์ข้อ 1,2 โดยใช้คำสั่ง .format()

In [10]:
print('ผลลัพธ์ข้อ 1 คือ {} และผลลัพธ์ข้อ 2 คือ {}'.format(2345 % 13,1567 // 17))

ผลลัพธ์ข้อ 1 คือ 5 และผลลัพธ์ข้อ 2 คือ 92

Quiz 2

เขียนฟังก์ชันไม่มีชื่อให้รับพารามิเตอร์ 1 ตัวและปริ้นท์ค่านั้น หารด้วย 3

In [11]:
result1 = lambda x : x / 3

In [13]:
print(result1(4))

1.3333333333333333

เขียนฟังก์ชันธรรมดารับค่า 4 พารามิเตอร์ และหาค่าเฉลี่ย

In [14]:
def find_avg(x1,x2,x3,x4):
    return (x1+x2+x3+x4)/4

In [17]:
find_avg(2,3,4,5)

3.5

เขียนฟังก์ชั่นไม่มีชื่อรับพารามิเตอร์ 3 ตัวและหาค่าเฉลี่ย

In [18]:
result3 = lambda x1,x2,x3 : (x1+x2+x3)/3

In [19]:
result3(2,3,4)

3.0

Quiz 3

สร้างลิสต์ระบุชื่อ นามสกุล อายุ ตัวเอง

In [34]:
lst1 = ['Woradee', 'Kongthong', 32]

ลบอายุออกจากลิสต์

In [35]:
del lst1[2]
print(lst1)

['Woradee', 'Kongthong']

ลดอายุตัวเอง 10 ปี และแทรกไว้หน้าสุดของลิสต์

In [36]:
lst1.insert(0,22)
print(lst1)

[22, 'Woradee', 'Kongthong']

เพิ่มส่วนสูง น้ำหนัก ลงในลิสต์ โดยไปต่อท้าย

In [37]:
lst1.append(160)
lst1.append(48)
print(lst1)

[22, 'Woradee', 'Kongthong', 160, 48]

ปริ้นท์สมาชิกในลิสต์ตัวที่ 3 ถึงตัวสุดท้าย

In [39]:
print(lst1[2:])

['Kongthong', 160, 48]

Quiz 4

a = [[[1,3],[3,4]],[5,[5,6],[7,8]]] แล้ว a[1][1][1] คือค่าใด

In [40]:
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]
a[1][1][1]

6

เขียนชื่อ นามสกุล อายุ อยู่ในลิสต์เดียวของคน 4 คน แล้วใส่ใน nested list และ แสดงผล

In [41]:
human1 = ['Emma','Smith', 30]
human2 = ['Olivia', 'Johnson', 28]
human3 = ['Isabella', 'Williams', 24]
human4 = ['Sophia', 'Brown', 20]
humans = [human1, human2, human3, human4]
print(humans)

[['Emma', 'Smith', 30], ['Olivia', 'Johnson', 28], ['Isabella', 'Williams', 24], ['Sophia', 'Brown', 20]]

ลบคนสุดท้ายของลิสต์ออกและแสดงผล

In [43]:
del humans[-1]
print(humans)

[['Emma', 'Smith', 30], ['Olivia', 'Johnson', 28], ['Isabella', 'Williams', 24]]

เพิ่มคนที่ 5 เป็นคนแรกใน nested list และแสดงผล

In [45]:
human5 = ['Charlotte', 'Jones', 29]
humans.insert(0,human5)
print(humans)

[['Charlotte', 'Jones', 29], ['Emma', 'Smith', 30], ['Olivia', 'Johnson', 28], ['Isabella', 'Williams', 24]]

เพิ่มอายุคนที่ 2 อีก 10 ปี

In [46]:
humans[1][2] += 10
print(humans)

[['Charlotte', 'Jones', 29], ['Emma', 'Smith', 40], ['Olivia', 'Johnson', 28], ['Isabella', 'Williams', 24]]

Quiz 5

กำหนดให้ lst=[1,2,3,4,5,6,7,8,9,10] จงเขียน map เพื่อหาเลขยกกำลังสามทั้งหมดของ lst ในรูปแบบ lambda function และ ฟังก์ชั่นธรรมดา

In [47]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [52]:
result4 = map(lambda x:x**3, lst)
print(list(result4))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [54]:
def cube_x(x):
    return x**3
result5 = map(cube_x,lst)
print(list(result5))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

กำหนดให้ lst=[1,2,3,4,5,6,7,8,9,10] จงเขียน filter เพื่อหาเลขใดในลิสต์เมื่อยกกำลังสองแล้วหารสองไม่ลงตัวในรูปแบบ lambda function และ ฟังก์ชันธรรมดา

In [56]:
result6 = filter(lambda x: (x**2)%2 != 0, lst)
print(list(result6))

[1, 3, 5, 7, 9]

In [67]:
def func1(x):
    return (x**2) % 2 != 0
result7 = filter(func1, lst)
print(list(result7))

[1, 3, 5, 7, 9]

Quiz 6

กำหนดให้ lst=[1,2,3,4,5] จงเขียน list comprehension เพื่อนำทุกตัวใน lst ไปคูณกับ 2 และลบด้วย 1 พร้อมกับแสดงผล

In [68]:
lst = [1,2,3,4,5]

In [70]:
result8 = [x * 2 - 1 for x in lst]
print(result8)

[1, 3, 5, 7, 9]

กำหนดให้ lst=[1,2,3,4,5,6,7,8,9,10,11,12,13] จงเขียน list comprehension เพื่อหาตัวที่หาร 3 ไม่ลงตัว และนำผลลัพธ์นั้นยกกำลังสาม พร้อมกับแสดงผล

In [73]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13]

In [75]:
result9 = [x**3 for x in list(filter(lambda x: x%3 != 0, lst))]
print(result9)

[1, 8, 64, 125, 343, 512, 1000, 1331, 2197]

Quiz 7

จงเขียนโปรแกรมตรวจสอบคะแนนเด็กนักเรียน ถ้าเด็กได้คะแนนมากกว่า 80 เกรด A, มากกว่า 70 เกรด B, มากกว่า 60 เกรด C, มากกว่า 50 เกรด D, และต่ำกว่า 50 เกรด F

In [79]:
score = 75

In [82]:
if score > 80:
    print('Grade : A')
elif score > 70:
    print('Grade : B')
elif score > 60:
    print('Grade : C')
elif score > 50:
    print('Grade : D')
else:
    print('Grade : F')

Grade : B

Quiz 8

กำหนดให้ A=[1,2,3,4,5] และ B=[2,3,1,3,2] จงเขียน map แบบ multiple-list operations โดยให้ B ยกกำลังด้วย A พร้อมกับแสดงผล

In [83]:
A=[1,2,3,4,5]
B=[2,3,1,3,2]

In [84]:
result10 = map(lambda a, b : b ** a , A, B)
print(list(result10))

[2, 9, 1, 81, 32]

จงเขียนชื่อนักเรียน เลขที่ และคำแนนสอบไฟนอล พร้อมกับใช้คำสั่ง zip() ในการจับคู่พร้อมกับแสดงผลลัพธ์ที่ถูกต้อง

In [85]:
student = ['Alex', 'Bob', 'David']
studentId = ['200201','200202','200203']
finalScore = [78, 87, 89]
result11 = list(zip(student, studentId, finalScore))
print(result11)

[('Alex', '200201', 78), ('Bob', '200202', 87), ('David', '200203', 89)]

Quiz 9

กำหนดให้ lst = [5,2,1,3,2] จงเขียนฟังก์ชัน reduce เพื่อหาผลลัพธ์สุดท้ายของการดำเนินการแบบเลขยกกำลัง

In [86]:
lst = [5,2,1,3,2]

In [90]:
from functools import reduce
result12 = reduce(lambda x,y : x**y, lst)
print(result12)

244140625

กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียนฟังก์ชัน reduce เพื่อหาผลลัพธ์สุดท้ายของการดำเนินการแบบการคูณ

In [91]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [92]:
result13 = reduce(lambda x,y : x*y, lst)
print(result13)

3628800